.projectgrid {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;
	animation: slideUp 2s forwards;
}

.gridItem {
	// display: grid;
	background-color: blue;
}

.gridItem:nth-child(odd) {
	grid-row: span 1;
	// float: right
}

@keyframes slideUp {
	from {
		transform: translateY(50%);
	}

	to {
		transform: translateY(0%);
	}
}

@media (max-width: 400px) {
	.projectgrid {
		grid-template-columns: 1fr;

	}
}