.profile {
	h1 {
		font-size: 5em;
		font-weight: 400;
		margin: auto;
		animation: headlinePopIn 3s forwards;
		color: var(--heading-text-colour);

		&::after {
			position: relative;
			display: block;
			content: '';
			height: 3px;
			background-color: var(--accent-colour);
			margin: 15px;
			width: 50%;
			animation: slideInFromLeft 3s forwards;
		}
	}

	h2 {
		font-size: 2em;
		font-weight: 400;
		margin: auto;
		position: relative;
		animation: slideInFromRight 3s forwards;

		span {
			color: var(--accent-colour);
		}
	}

	p {
		font-size: 1.5em;
		font-weight: 300;
		width: 70%;
		position: relative;
		animation: slideInFromRight 3s forwards;
	}

	&::after {
		position: relative;
		display: block;
		content: '';
		height: 3px;
		background-color: var(--accent-colour);
		margin: 15px;
		width: 50%;
		animation: slideInFromLeft 3s forwards;
	}
}

@keyframes slideInFromLeft {
	from {
		left: -1000px
	}

	to {
		left: 0px
	}
}

@keyframes slideInFromRight {
	from {
		opacity: 0;
		right: -100px
	}

	to {
		opacity: 1;
		right: 0px
	}
}

@keyframes headlinePopIn {
	0% {
		transform: translateY(-200%)
	}

	60% {
		transform: translateY(5%)
	}

	100% {
		transform: translateY(0%)
	}
}

@media (min-width: 400px) {
	.profile {
		h1 {
			font-size: 4em;
		}
	}
}