.profile {
	h1 {
		font-size: 5em;
		font-weight: 400;
		margin: auto;
		animation: var(--in-top-bounce) 3s forwards;
		color: var(--heading-text-colour);

		&::after {
			position: relative;
			display: block;
			content: '';
			height: 3px;
			background-color: var(--accent-colour);
			margin: 15px;
			width: 50%;
			animation: var(--in-left) 3s forwards;
		}
	}

	h2 {
		font-size: 2em;
		font-weight: 400;
		margin: auto;
		position: relative;
		visibility: hidden;
		animation: 
			var(--opacity) 2s, 
			var(--in-right) 3s forwards,
			var(--visibility) 1s forwards;
		color: var(--heading-text-colour);
		span {
			color: var(--accent-colour);
		}
	}

	p {
		font-size: 1.5em;
		font-weight: 300;
		width: 70%;
		position: relative;
		animation: 
			var(--opacity) 2s, 
			var(--in-right) 3s forwards,
			var(--visibility) 1s forwards;
		visibility: hidden;
	}

	&::after {
		position: relative;
		display: block;
		content: '';
		height: 3px;
		background-color: var(--accent-colour);
		margin: 15px;
		width: 50%;
		animation: var(--in-left) 3s forwards;
	}
}

@media (min-width: 400px) {
	.profile {
		h1 {
			font-size: 4em;
		}
	}
}