.techstacks {
	width: 100%;
	margin: 4rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: center;
	animation:
		var(--in-bottom) 2s forwards,
		var(--opacity) 3s;
}

$background-colour: var(--accent-colour);

.icon {
	padding: 15px;
	margin: 0px 10px;
	transition: ease all .2s;
	border-radius: 25px;
	// outline: 3px var(--accent-colour) solid;
 
	cursor: help;

	filter: 
	// drop-shadow(-1px -1px 0px #fff) 
    // drop-shadow(2px -1px 0px #fff) 
		grayscale(100%)
		// drop-shadow(1px 1px 0px var(--overlay-colour))
		// drop-shadow(1px 2px 2px #fff)
}

.icon:hover {
	transform: scale(1.15);
	filter: 
		grayscale(0)
		drop-shadow(1px 2px 4px var(--accent-colour));
	// background-color: var(--background-colour);

	img {
		filter: drop-shadow(-1px 2px 1px #fff);

	}
}

@media (max-width: 450px) {
	.techstacks {
		width: 90%;
	}

	.icon {
		margin: 0px;
	}
}