.techstacks {
	width: 100%;
	margin: 4rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: center;
	animation:
		var(--in-bottom) 2s forwards,
		var(--opacity) 3s;
}

.icon {
	padding: 15px;
	margin: 0px 10px;
	transition: linear all .2s;
	background-color: rgba(var(--accent-colour) 0.7);
	border-radius: 25px;
	outline: 3px var(--accent-colour) solid;
	filter: grayscale(100%);
}

.icon:hover {
	transform: scale(1.15);
	filter: grayscale(0);
}

@media (max-width: 450px) {
	.techstacks {
		width: 90%;
	}

	.icon {
		margin: 0px;
	}
}